{% extends 'portal/shapka.html' %}


    {% block title %}
        glavnaya
        {% endblock %}

{% block content %}
    <h1>Волейбольные матчи</h1>
{% for competition in competitions %}



    <div class="card mb-5">
  <div class="card-header">
    <p class="card-text">{{ competition.date }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ competition.title }}</h5>
    <p class="card-text">{{ competition.body }}</p>
    <a href="{% url 'competition_detail_url' slug=competition.slug %}" class="btn btn-primary">Details</a>
  </div>
</div>


{% endfor %}
{% endblock %}